
.main {
    display: flex;
    flex: 1;
}

.navbar {
    width: 200px;    
    background-color: antiquewhite;
    padding: 10 0 10 0;
}

.aside {
    flex: 1;
    padding: 30px;
}

img {
    width: 150px;
}