.shopping-cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(165, 75, 75);
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: white;
}

.shopping-cart span {
    margin-right: 2px;
    font-size: 16px;
}

.fa-shopping-cart {
    color: white;
}